[submodule "nvim/.config/nvim/plugins/semshi"]
	path = nvim/.config/nvim/plugins/semshi
	url = https://github.com/numirias/semshi.git
[submodule "nvim/.config/nvim/plugins/suda.vim"]
	path = nvim/.config/nvim/plugins/suda.vim
	url = https://github.com/lambdalisue/suda.vim.git
[submodule "nvim/.config/nvim/plugins/vim-go"]
	path = nvim/.config/nvim/plugins/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "nvim/.config/nvim/plugins/vim-surround"]
	path = nvim/.config/nvim/plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
