[submodule "vim/.config/vim/plugins/suda.vim"]
	path = vim/.config/vim/plugins/suda.vim
	url = https://github.com/lambdalisue/suda.vim
[submodule "vim/.config/vim/plugins/vim-commentary"]
	path = vim/.config/vim/plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.config/vim/plugins/vim-cpp-modern"]
	path = vim/.config/vim/plugins/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule "vim/.config/vim/plugins/vim-surround"]
	path = vim/.config/vim/plugins/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.config/vim/autoload"]
	path = vim/.config/vim/autoload
	url = https://github.com/junegunn/vim-plug
[submodule "zsh/.config/zsh/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/.config/zsh/zsh-vi-mode"]
	path = zsh/.config/zsh/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule "zsh/.config/zsh/zsh-z"]
	path = zsh/.config/zsh/zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule "tmux/.config/tmux/plugins/tmux-current-pane-hostname"]
	path = tmux/.config/tmux/plugins/tmux-current-pane-hostname
	url = https://github.com/soyuka/tmux-current-pane-hostname
[submodule "tmux/.config/tmux/plugins/tmux-yank"]
	path = tmux/.config/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
