/**
 * @name blur_dark
 * @author Frank Plowman
 * @description A BetterDiscord theme to go with my general theme
 * @version 0.1
 * @website https://frankplowman.com
 */

.theme-dark{
    --highlight:                        #6a5e4b;
    --foreground:                       #d5dadc;
    --background:                       #231f1d;

    --header-primary:                   var(--foreground);
    --header-secondary:                 var(--foreground);
    --text-normal:                      var(--foreground);
    /* --text-muted: #72767d; */ 
    --text-link:                        var(--highlight);
    --channels-default:                 var(--foreground);
    /* --interactive-normal: #b9bbbe; */
    /* --interactive-hover: #dcddde; */
    --interactive-active:               var(--foreground);
    /* --interactive-muted: #4f545c; */
    --background-primary:               var(--background);
    --background-secondary:             var(--background);
    --background-secondary-alt:         var(--background);
    --background-tertiary:              var(--background);
    --background-accent:                var(--background);
    --background-floating:              var(--background);
    /* --background-modifier-hover: rgba(79,84,92,0.16); */
    --background-modifier-active:       var(--highlight);
    --background-modifier-selected:     var(--highlight);
    /* --background-modifier-accent: hsla(0,0%,100%,0.06); */
    --background-mentioned:             var(--highlight)55;
    --background-mentioned-hover:       var(--highlight)55;
    /* --background-message-hover: rgba(4,4,5,0.07); */
    /* --background-help-warning: rgba(250,166,26,0.1); */
    /* --background-help-info: rgba(0,176,244,0.1); */
    /* --scrollbar-thin-thumb: #202225; */
    /* --scrollbar-thin-track: transparent; */
    /* --scrollbar-auto-thumb: #202225; */
    /* --scrollbar-auto-track: #2e3338; */
    /* --scrollbar-auto-scrollbar-color-thumb: #202225; */
    /* --scrollbar-auto-scrollbar-color-track: #2f3136; */
    /* --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15); */
    /* --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05); */
    /* --elevation-medium: 0 4px 4px rgba(0,0,0,0.16); */
    /* --elevation-high: 0 8px 16px rgba(0,0,0,0.24); */
    --logo-primary:                     var(--foreground);
    /* --focus-primary: #00b0f4; */
    /* --radio-group-dot-foreground: #8ea1e1; */
    /* --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4); */
    --channeltextarea-background:       var(--background);
    /* --activity-card-background: #202225; */
    /* --textbox-markdown-syntax: #8e9297; */
    /* --deprecated-card-bg: rgba(32,34,37,0.6); */
    /* --deprecated-card-editable-bg: rgba(32,34,37,0.3); */
    /* --deprecated-store-bg: #36393f; */
    /* --deprecated-quickswitcher-input-background: #72767d; */
    /* --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3); */
    /* --deprecated-text-input-bg: rgba(0,0,0,0.1); */
    /* --deprecated-text-input-border: rgba(0,0,0,0.3); */
    /* --deprecated-text-input-border-hover: #040405; */
    /* --deprecated-text-input-border-disabled: #202225; */
    /* --deprecated-text-input-prefix: #dcddde */
}
.mentioned-xhSam7: before {
    background-color:                   var(--highlight);
}

.theme-dark .container-1D34oG {
    background-color:                   var(--background-primary);
}
