[Base]

main_fg = {{foreground}}
secondary_fg = {{foreground}}
main_bg = {{background}}
sidebar_and_player_bg = {{background}}
cover_overlay_and_shadow = {{background}}
indicator_fg_and_button_bg = {{bar.highlight}}
pressing_fg = 0000ff
slider_bg = {{bar.highlight}}
sidebar_indicator_and_hover_button_bg = {{bar.highlight}}
scrollbar_fg_and_selected_row_bg = {{bar.highlight}}
pressing_button_fg = {{bar.highlight}}
pressing_button_bg = {{foreground}}
selected_button = 0000ff
miscellaneous_bg = {{bar.highlight}}
miscellaenous_hover_bg = 0000ff
preserve_1 = ffffff
