/* remove profile from top right */
.profile.content-top-bar__profile-link,
.upgrade-button,
.view-plater .remote-playback-bat,
.NewPlaylistButton {
    display: none !important;
}

.profile-items-container,
.profile {
    -webkit-app-region: no-drag !important;
}

/* make scrollbar thinner */
::-webkit-scrollbar {
    height: 4px !important;
    width: 4px !important;
    background-color: transparent;
}

/* remove scrollbar up/down buttons */
::-webkit-scrollbar-button {
    display: none !important;
}

/* add border to right-click menu */
.context-menu {
    border: 4px solid var(--modspotify_miscellaneous_bg);
    box-shadow: none;
}

/* remove gradient at top of page */
.GlueHeader__background-color {
    background-color: var(--modspotify_main_bg) !important;
}

.Header__background-color {
    background-color: var(--modspotify_main_bg) !important;
}

/* stop selected song becoming invisible */
.TableCellSong--track-is-playing .TableCellSong__featuredArtist,
.TableCellSong--track-is-playing .TableCellSong__text-truncator,
.TableCellSong--track-is-playing .TableCellSong__track-name {
    color: var(--modspotify_main_fg);
}

/* remove search input background when unselected */
.SearchInput {
    color: var(--modspotify_main_fg);
}

.SearchInput__input {
    color: var(--modspotify_main_fg);
    background-color: var(--modspotify_main_bg) !important;
}

.glue-page-header__sticky .glue-page-header__title {
    font-size: 48px;
}

/* stop padding header with empty space */
/* .Header, */
/* .Header__content-wrapper { */ 
/*     min-size: 0 !important; */
/* } */
